<div>
  •
  Programador in Trainee
  Jornada parcial
  mar. 2023 - actualidad · 1 mes
  Región Metropolitana de Santiago, Chile · Híbrido
  Frontend y BackEnd utilizando Ruby on Rails,
  Css, Javascript, jQuery.
</div>
<br>
<div>
  •
  Programador Trainee /
  Jornada completa /
  dic. 2022 - mar. 2023 · 4 meses /
  Frontend y BackEnd utilizando Ruby on Rails,
  Css, Javascript, jQuery.
</div>
<br>
<div>
  •
  Programador Trainee en Redcomercio S.A /
  Jornada parcial /
  mar. 2022 - dic. 2022 · 10 meses /
  Región Metropolitana de Santiago, Chile /
  Frontend y BackEnd utilizando Ruby on Rails,
  Css, Javascript, jQuery.Frontend y BackEnd utilizando Ruby on Rails, Css, Javascript, jQuery.
</div>
<br>
<div>
  •
  Programador TraineeProgramador Trainee /
  Jornada completa /
  dic. 2021 - feb. 2022 · 3 meses dic. 2021 - feb. 2022 · 3 meses /
  Región Metropolitana de Santiago, Chile /
  Frontend y BackEnd utilizando Ruby on Rails,
  Css, Javascript, jQuery.
</div>
