<main>
  <section class="hero-section d-flex">
    <div class="hero-container-p1 col">
      <div class="hero-title">
        <div>
          Mi nombre es  
        </div>
        <div>
          <span class="em-700">Matías Bustos</span>
        </div>
      </div>
      <div class="hero-subtitle">
        <div>
          Soy un programador web de RoR en entrenamiento, 
        </div>
        <div>con mas de 1 año de experiencia.</div>
      </div>
      <div class="hire-me-container">
        <div class="hire-me-here ">
          <div class="default-btn">
            Contratame aquí
          </div>
        </div>
      </div>
    </div>
    <div class="hero-container-p2 col">
      <div class="years-of-experience">
        <div class="years">1 +</div>
        <div class="year-label">year experience</div>
      </div>
      <div class="my-image-container">
        <%= image_tag("meme.png", class: "my-image")%>
        <%= inline_svg_tag("hero_clip_path.svg", class: "clip-path-meme")%>
      </div>
    </div>
  </section>
</main>
