html {
  font-size: 62.5%;
}

nav {
  margin: 32px 0 0 152px;
}

.contact-me-btn {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  border-radius: 16px;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 700;
  margin-left: auto;
  margin-right: 32px;
  margin-left: auto;
}



.em-700 {
  font-weight: 700;
}

.usefull-links {
  font-family: 'Rajdhani', sans-serif;
  font-size: 21px;
  gap: 32px;
}

#mobile {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 15vh);
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 99;
  display: flex !important;

  .contact-me-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Hero section */
.hero-section {
  padding: 2.8rem 0 9.6rem 0;
  flex-wrap: wrap-reverse;
  overflow: hidden;
}

.hero-subtitle {
  margin-top: 16px;
  font-size: 30px;
}

.hero-container-p1 {
  margin-left: 108px;
}

.hero-container-p2 {
  position: relative;
}

.hero-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 76px;
}

.my-image {
  width: 560px;
  overflow: hidden;
}

.my-image-container {
  clip-path: url(#myClip);
  background-color: #FE5A02;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 30px;
  width: 100%;
}

.years-of-experience {
  position: absolute;
  background-color: #241F21;
  font-family: 'Quicksand', sans-serif;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  bottom: 40px;
  left: 0;
  z-index: 1;
}

.years {
  color: white;
  font-weight: 700;

  font-size: 36px;
}

.year-label {
  color: white;
  font-size: 26px;
}

.hire-me-here>div {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-top: 24px;
  padding: 12px 24px;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;

}

.btn-mobile-nav.active {
  position: absolute !important;
  z-index: 999 !important;
  margin-top: 16px !important;
}

.toggle-menu {
  display: none;
}

.close-menu {
  display: none;
}

.toggle-menu.active {
  display: relative !important;
}

.close-menu.active {
  display: inline-flex !important;
}


.btn-mobile-nav {
  display: flex;
  padding-right: 16px;
  justify-content: end;
}

nav.mobile-navbar {
  background-color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur (10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  z-index: 99;
  margin: 0 !important;
}

//Programming languages section
.programming-languages-section {
  padding: 2.8rem 3.8rem 9.6rem 13.8rem;
  overflow: hidden;
}

.language-title {
  font-family: "Quicksand", sans-serif;
  font-size: 56px;
  margin-bottom: 32px;

}

.programming-languages-container {
  gap: 16px;
}

.lang-logo {
  width: 108px;
  z-index: 1;
}

.lang-card-container {
  position: relative;
  width: 180px;
  height: 180px;
}

.on-hover-slider {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 478px;
  overflow: hidden !important;
}

.lang-card-container:not(.disabled):hover {
  .on-hover-slider {
    transform: translate(0, -1.5rem);
    overflow: unset;
  }

  .slider-inner-container {
    transform: translate(29%, -0.3rem);
    // box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  }
}

.slider-container {
  align-items: center;
  height: 100%;
}

.slider-inner-container {
  position: relative;
  border-radius: 0 30px 30px 0;
  height: 75%;
  width: 300px;
  background-color: #212121;
  color: white;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.5s;
  transform: translateX(-100%);
}

.lang-exp {
  font-size: 20px;
  font-weight: 700;
}

// Give space for the slider when si active the container
.ruby-card-cc:not(.disabled).active,
.javascript-card-cc:not(.disabled).active {
  margin-right: 308px;
}

.ruby-card-cc,
.javascript-card-cc,
.python-card-cc {
  transition: all 0.5s;
}

.programming-lang-pd {
  font-size: 26px;
  font-weight: 500;
}