@media (min-width: 1440px) {
  .hero-section {
    padding: 2.8rem 3.8rem 9.6rem 3.8rem !important;
  }
}

@media (max-width: 1268px) {
  .hero-container-p1 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 0 !important;

  }

  .hero-container-p2 {
    flex: 0 0 auto;
    width: 100%;
  }

  div.my-image-container {
    clip-path: none !important;
    display: flex;
    justify-content: center;
  }

  .hero-title div {
    text-align: center !important;
  }

  .hero-title .em-700 {
    text-align: center !important;
  }

  .hero-subtitle div {
    text-align: center !important;
  }

  .hire-me-here {
    display: flex;
    justify-content: center;
  }

  .years-of-experience {
    left: 140px;
    bottom: 8px;
  }

  .hero-container-p1 {
    margin-left: 0;
    padding-left: 100px;
  }
}

@media (max-width: 680px) {
  .hero-title {
    font-size: 58px;
  }

  .hero-subtitle {
    font-size: 26px;
  }
}

@media (max-width: 568px) {
  nav {
    margin: 32px 0 0 32px !important;
  }

  .year {
    font-size: 30px !important;
  }

  .year-label {
    font-size: 18px !important;
  }

}

@media (min-width: 465px) {
  .toggle-menu {
    display: none !important;
  }
}

@media (max-width: 465px) {
  .usefull-links {
    display: none !important;
  }

  .logo-icon-container {
    display: none !important;
  }

  .contact-me-btn-container {
    display: none !important;
  }

  .toggle-menu {
    display: inline-flex;
  }
}

@media (max-width: 430px) {
  .years-of-experience {

    padding: 8px 16px 8px 16px;

  }

  .years {
    font-size: 24px;
  }

  .year-label {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .hero-container-p1 {
    padding: 0px 24px 0 24px !important;

    .hero-title {
      font-size: 52px;
    }

    .hero-subtitle {
      font-size: 20px;
    }
  }
}