@media (min-width: 1440px) {
  .hero-section {
    padding: 2.8rem 3.8rem 9.6rem 3.8rem !important;
  }
}

@media (max-width: 1268px) {
  .hero-container-p1 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 0 !important;
    padding: 0 32px !important;
  }

  .hero-container-p2 {
    flex: 0 0 auto;
    width: 100%;
  }

  div.my-image-container {
    clip-path: none !important;
    display: flex;
    justify-content: center;
    border-radius: 0;
  }

  .hero-title div {
    text-align: center !important;
  }

  .hero-title .em-700 {
    text-align: center !important;
  }

  .hero-subtitle div {
    text-align: center !important;
  }

  .hire-me-here {
    display: flex;
    justify-content: center;
  }

  .years-of-experience {
    left: 140px;
    bottom: 8px;
  }

  .hero-container-p1 {
    margin-left: 0;
    padding-left: 100px;
  }

  // Programming languages section
  .programming-languages-section {
    padding: 0 30px;
  }

  .programming-lang-title,
  .programming-lang-pd {
    text-align: center;
  }

  .programming-languages-container {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .programming-languages-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
}

@media (max-width: 680px) {
  .hero-title {
    font-size: 58px;
  }

  .hero-subtitle {
    font-size: 26px;
  }

  .programming-languages-section {
    padding: 0 32px;
  }
}

@media (max-width: 568px) {
  nav {
    margin: 32px 0 0 32px !important;
  }

  .year {
    font-size: 30px !important;
  }

  .year-label {
    font-size: 18px !important;
  }

  // Programming languages section
  .programming-lang-title {
    font-size: 46px;
  }


}

@media (min-width: 465px) {
  .toggle-menu {
    display: none !important;
  }
}

@media (max-width: 465px) {
  .usefull-links {
    display: none !important;
  }

  .logo-icon-container {
    display: none !important;
  }

  .contact-me-btn-container {
    display: none !important;
  }

  .toggle-menu {
    display: inline-flex;
  }

  .years-of-experience {
    top: 0;
    right: 0;
    left: unset;
    bottom: unset;
    transform: translate(-15%, 15%);
    padding: 8px 14px 8px 14px;
    border-radius: 20px;
  }

  .card::before {
    content: "";
    position: absolute;
    width: 200%;
    background-image: linear-gradient(180deg, #FE5A02, rgb(255, 48, 255));
    height: 50%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    transform: translate(0, 0);
  }
}

@media (max-width: 430px) {
  .years-of-experience {

    padding: 8px 16px 8px 16px;

  }

  .years {
    font-size: 24px;
  }

  .year-label {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .hero-container-p1 {
    padding: 0px 24px 0 24px !important;

    .hero-title {
      font-size: 52px;
    }

    .hero-subtitle {
      font-size: 20px;
    }
  }

  .programming-lang-title {
    font-size: 36px;
  }
}